
* {
    padding: 0px;
    margin: 0px;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(0, 0, 0, 0.596);
    background-color: aliceblue;
}
.site-header, .site-footer{
    background-color: rgba(140, 80, 219, 0.671);
    color: white;
}

.main-navigation ul {
    padding: 10px;
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.main-navigation a{
    color: white;
    text-decoration: none;
}
.main-navigation li{
    padding: 0 15px;
}

.container-main {
    max-width: 1200px;
    padding: 0 20px;
    margin: auto;
}


.image-header {
    max-width: 150px;
    max-height: 150px;
    float: left;
    border-radius: 250px;
    border: black 1px solid;
    margin-right: 25px;
    object-fit: cover;
}


a:hover {
    color: black;
}

.clearfix::after {
    margin-top: 40px;
    content: "";
    clear: both;
    display: table;
}

.project-grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.project-item {
    background-color: white;
    box-shadow: 0 0 10px #7c7b7b;
    border-radius: 5px;
}

.project-item img {
    width: 100%;
    height: 200px;
    object-fit: contain;
    border-bottom: 3px solid black;
}

.project-info {
    padding: 10px;
}

.whatiknow-wrapper{
    margin-bottom: 50px;
    background-color: aliceblue;
    height: auto;
    padding: 20px;
    justify-content: center;
    
}
.whatiknow-container {
    margin-top: 20px;
    justify-content: space-between;
    display:flex;
    
}
.whatiknow-item img{
    height: 40px;
    width: 40px;
}

.whatiknow-item {
    justify-content: center;
    text-align: center;
}