
* {
    padding: 0px;
    margin: 0px;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(0, 0, 0, 0.596);
    background-color:white;
}
.site-header, .site-footer{
    background-color: rgb(46, 40, 40);
    color: white;
}

.main-navigation ul {
    padding: 10px;
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.main-navigation a{
    color: white;
    text-decoration: none;
}
.main-navigation li{
    padding: 0 15px;
}

.container-main {
    max-width: 1200px;
    padding: 0 20px;
    margin: auto;
}

.image-header {
    max-width: 150px;
    max-height: 150px;
    float: left;
    border-radius: 250px;
    border: rgba(0, 0, 0, 0.596)black 0.5px solid;
    margin-right: 25px;
    object-fit: cover;
}

.about-me{
    order: rgba(0, 0, 0, 0.596) 1px solid;
}

.about-me img {
    padding: 3px 3px 3px 3px;
    max-width: 150px;
    max-height: 150px;

}

.links img{
    justify-content: baseline;
    max-width: 15px;
    max-height: 15px;

}
.links a{
    color: #7c7b7b;
}

.links {
    margin-top: 15px;
}

.single-link:hover img {
    transform: scale(1.1);
}

a:active {
    text-decoration: underline;
}

a:hover {
    color: black;
}

.clear-fix {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 300px;
    width: 100%;
}

.clearfix::after {
    margin-top: 40px;
    content: "";
    clear: both;
    display: table;
}

.known-technologies-wrapper {
    margin-bottom: 30px;
    height: auto;
    padding: 20px;
    justify-content: center;
}

.known-technologies-container {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
    margin-top: 20px;
    justify-content: space-between;
    display: flex;
    border-radius: 5px;
    padding: 50px;

}

.known-technologies-item img {
    object-fit: contain;
    max-height: 85px;
    max-width: 65px;
}

.known-technologies-item {
    justify-content: center;
    text-align: center;
}

@media screen AND (max-width: 768px) {
    .known-technologies-container {
        flex-direction: column;
        gap: 20px;
    }
    
}

.project-grid {
    margin-top: 20px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.project-grid a {
    color: rgba(0, 0, 0, 0.596);
}

.project-item {
    background-color: white;
    box-shadow: 0 0 10px #7c7b7b;
    border-radius: 5px;
}

.project-item:hover {
    transform: scale(1.05);
}

.project-item img {
    width: 100%;
    height: 200px;
    object-fit: contain;
    border-bottom: 3px solid rgba(0, 0, 0, 0.596)lack;
}

.project-info {
    text-decoration: none;
    padding: 10px;
}
.project-link {
    text-decoration: none;
}
.site-footer {
    margin-top: 30px;
    padding: 30px;
    height: 30px;
    background-color: rgb(46, 40, 40);
}